absl==0.0
accelerate==1.13.0
dlimp==0.0.1
draccus==0.8.0
fastapi==0.137.0
gym==0.26.2
h5py==3.16.0
huggingface_hub==0.36.2
imageio==2.37.3
jax==0.10.1
json_numpy==2.1.1
jsonlines==4.0.0
matplotlib==3.11.0
mediapy==1.2.6
numpy==2.4.6
octo==0.3.0
opencv_python==4.9.0.80
packaging==26.2
peft==0.11.1
Pillow==12.2.0
protobuf==7.35.1
pyquaternion==0.9.9
PyYAML==6.0.3
pyzmq==27.1.0
Requests==2.34.2
rich==15.0.0
robosuite==1.4.1
scikit_learn==1.9.0
tensorflow==2.15.0
tensorflow_datasets==4.9.3
tensorflow_graphics==2021.12.3
tensorflow_intel==2.15.0
timm==0.9.10
tokenizers==0.23.1
torch==2.12.0+cu126
torchvision==0.27.0+cu126
tqdm==4.67.3
transformers==4.40.1
uvicorn==0.49.0
wandb==0.27.2
